{% extends 'site_structure/index.html' %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'upload_file/css/upload.css' %}">
{% endblock %}

{% block content %}
    <p>Uploading files:</p>
    <ul class='dashed'>
        <li>You can upload multiple replays</li>
        <li>Each replay takes approximately 4 seconds to process</li>
        <li>You will be redirected to your profile page after all replays have been processed</li>
    </ul>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
{% endblock %}