{% extends 'site_structure/index.html' %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'site_structure/css/about.css' %}">
{% endblock %}

{% block content %}
    <h3>Background</h3>
    <p>
        Hi, I’m Luke Holroyd, the sole creator of Zephyrus.
        I’m 20 years young and an avid programmer with a passion for
        entrepreneurship, data analysis and of course, Starcraft II.
    </p>
    <p>
        I’ve been playing Starcraft as a dirty Protoss (What can I say, I like lasers)
        for about 2.5 years and reached Masters league (Top 3% worldwide) late last year
        after having played 1800 1v1 matches. I’d like to think I’m an active member in the Reddit community,
        so you might have seen me posting and commenting in /r/starcraft and the allthings subreddits as ZephyrBluu.
    </p>
    <p>
        And before you ask, yes Zephyrus was named after my username
        which has also been my gamertag for as long as I can remember.
    </p>
    <p>
        Even though I don’t have time to play anymore, I still try to
        keep up to date with GSL, WCS and the general comings and goings in the community.
        If you want to get in touch to suggest a feature or just have a chat,
        your best bet is to PM me on Reddit. Otherwise, send an email to hello@zephyrus.gg.
    </p>
    <p>
        Anyway, that’s enough about me. It’s time to talk a bit more about Zephyrus.
    </p>

    <hr>

    <h3>Zephyrus</h3>
    <p>
        Starcraft II is a complex game, yet we lack tools for in-depth analysis
        of both gameplay and player information. Zephyrus is my approach to solving this problem.
    </p>
    <p>
        Zephyrus is about helping players understand their gameplay better and enable
        them to both celebrate their strengths and identify their weaknesses.
    </p>
    <p>
        My philosophy on data is all about simplicity and clarity.
        I want to provide players with beautiful, clean representations of their gameplay
        that they can understand at a glance. This is my vision for Zephyrus.
    </p>

    <hr>

    <h3>Roadmap</h3>
    <p>
        Currently, our focus is on completing the foundations of the site and then unlocking more interesting information stored in replays,
        but in future we want to analyze player profiles and the playerbase at large.

        Specifically, we are focusing on adding features related to the following:

        <ul>
            <li>
                <b>Foundational Features</b>
                <ul class='dashed'>
                    <li>Session tracking</li>
                    <li>Player progress</li>
                    <li>Zephyr, our premium service</li>
                </ul>
            </li>
            <br>
            <li>
                <b>Replay Analysis Features</b>
                <ul class='dashed'>
                    <li>Race-specific metrics</li>
                    <li>Army composition</li>
                    <li>Vision</li>
                    <li>Building placement (I.e Proxy's)</li>
                </ul>
            </li>
            <p>These are of course, subject to change. A full roadmap of future development can be found <a href="" class='underline'>here.</a></p>
        </ul>

    </p>

    <hr>

    <!--<h3>Supporting Us</h3>-->
    <!--<p>-->
        <!--We use PayPal and Stripe as payment processors. You can also support the site-->
        <!--by using the Brave browser and tipping BAT. Brave is a new web browser that focuses heavily-->
        <!--on user privacy and improving your browsing experience. They also have a built in ad blocker.-->
    <!--</p>-->

    <!--<hr>-->

    <h3>Analytics</h3>
    <p>
        We want to be transparent with our users about all aspects of Zephyrus and that includes tracking
        user activity. We use Google Analytics and Hotjar on our website to track traffic and user interactions
        for internal purposes. <b>We do NOT sell or distribute your personal data/browsing
        activities to anyone.</b> All data gathered is used purely for internal purposes to
        help us improve user experience and track our growth.
    </p>

    <hr>

    <h3>Privacy policy & ToS</h3>
    <p>
        Short explanation of PP and ToS goes here.
    </p>
{% endblock %}