{% extends 'site_structure/index.html' %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'site_structure/css/contact.css' %}">
{% endblock %}

{% block content %}
    <h1>Get in Touch!</h1>
    <ul>
        <li>Reddit:&emsp;&emsp;/u/ZephyrBluu</li>
        <li>Email:&emsp;&emsp;&nbsp;hello@zephyrus.gg</li>
    </ul>
    <h3>
        We're always happy to talk to about anything related to Zephyrus.
        Need help using the site? Got an idea for a new feature? Just want
        to chat? Hit us up!
    </h3>
{% endblock %}