<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Zephyrus</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Quicksand:400, 500|Lato" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'site_structure/css/main.css' %}">
  {% block stylesheet %}{% endblock %}
</head>

<body id='body'>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
    {% block nav %}
    {% endblock %}
    <div class='wrapper' id='wrapper'>
        {% if active != 'profile' %}
            <header id='header'>
                <a class='title' href="{% url 'site_structure:home' %}">zephyrus</a>
                <h4 class='sub-heading'>beta</h4>
                <nav class="menu">
                    <ul>
                        <li><a {% if active == 'upload' %} class="active" {% endif %} href="{% url 'upload:upload_form' %}">upload</a></li>
                        <li><a {% if active == 'profile' %} class="active" {% endif %} href="{% url 'user_profile:overview' %}">profile</a></li>
                        <li><a {% if active == 'about' %} class="active" {% endif %} href="{% url 'site_structure:about' %}">about</a></li>
                        <li><a {% if active == 'contact' %} class="active" {% endif %} href="{% url 'site_structure:contact' %}">contact</a></li>
                        <li><a {% if active == 'premium' %} class="active" {% endif %} href="{% url 'site_structure:premium' %}">zephyr</a></li>
                        <li><a {% if active == 'signup' %} class="active" {% endif %} class='special' href="{% url 'signup:signup' %}">sign up</a></li>
                        <li><a {% if active == 'login' %} class="active" {% endif %} class='special' href="{% url 'login:login' %}">login</a></li>
                    </ul>
                </nav>
            </header>

        <div class='content' id='content'>
        {% else %}
            <div class='content' id='root'>
        {% endif %}
        {% block content %}
        {% endblock %}
        </div>
    </div>
        {% block js %}
        {% endblock %}
    <footer>
        <div class='footer'>
            <h4>© Luke Holroyd 2019</h4>
            <span class='info'><a>Privacy Policy</a> | <a>Terms of Service</a></span>
        </div>
    </footer>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>
