<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'site_structure/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'site_structure/css/main.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Quicksand:400" rel="stylesheet">
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <div class='container'>
    <header>
      <h1>zephyrus</h1>
    </header>
    <nav id="main">
      <ul>
        <li><a {% if active == 'home' %} class="active" {% endif %} href="{% url 'site_structure:home' %}">Home</a></li>
        {% if user.is_authenticated %}
          <li><a {% if active == 'upload' %} class="active" {% endif %} href="{% url 'site_structure:upload' %}">Upload</a></li>
          <li><a {% if active == 'profile' %} class="active" {% endif %} href="{% url 'site_structure:profile' %}">Profile</a></li>
        {% endif %}
        <li><a {% if active == 'premium' %} class="active" {% endif %} href="{% url 'site_structure:premium' %}">Premium</a></li>
        {% if not user.is_authenticated %}
          <li><a {% if active == 'signup' %} class="active" {% endif %} href="{% url 'site_structure:signup' %}">Sign Up</a></li>
          <li><a {% if active == 'login' %} class="active" {% endif %} href="{% url 'site_structure:login' %}">Login</a></li>
        {% endif %}
        <li><a {% if active == 'about' %} class="active" {% endif %} href="{% url 'site_structure:about' %}">About</a></li>
        <li><a {% if active == 'contact' %} class="active" {% endif %} href="{% url 'site_structure:contact' %}">Contact</a></li>
      </ul>
    </nav>
    <div class='content'>
      <main>
        {% block content %}
        {% endblock %}
        <p>{{ info }}</p>
      </main>
    </div>

    <footer></footer>
  </div>

  <script src="js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>
