<!doctype html>
<html class="no-js" lang="">
{% load i18n %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Zephyrus</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% load static %}
  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" href="{% static 'site_structure/icon.PNG' %}">
  <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Raleway:400|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'site_structure/css/main.css' %}">
  {% block stylesheet %}{% endblock %}
</head>

<body id='body'>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
    <div class='wrapper' id='wrapper'>
            <header id='header'>
                <div class="PageInfo">
                    <h2 class="PageInfo__site-name">zephyrus</h2>
                    <h3 class="PageInfo__info">StarCraft II &nbsp;/&nbsp; {{ active|title }}</h3>
                </div>
                <h1 class="PageHeader__page-title">{{ active|title }}</h1>
                <nav class="ProfileNav">
                    <ul>
                        <li><a class="ProfileNav__link {% if active == 'upload' %} ProfileNav__link--active {% endif %}" href="http://localhost:5000">Stats</a></li>
                        <li><a class="ProfileNav__link {% if active == 'signup' %} ProfileNav__link--active {% endif %}" href="{% url 'signup:signup' %}">Sign up</a></li>
                        <li><a class="ProfileNav__link login-button {% if active == 'login' %} ProfileNav__link--active {% endif %}"  href="http://localhost:5000">Login</a></li>
                    </ul>
                </nav>
            </header>
        <div class='content' id='content'>
        {% block content %}
        {% endblock %}
        </div>
    </div>
</body>
</html>
