{% extends 'site_structure/index.html' %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'site_structure/css/landing.css' %}">
{% endblock %}

{% block nav %}
    <header id='placeholder' class='sticky'>
        <a class='title' href="{% url 'site_structure:home' %}">zephyrus</a>
        <h4 class='sub-heading'>beta</h4>
        <nav class="menu">
            <ul>
                <li {% if active == 'upload' %} class="active" {% endif %}><a  href="{% url 'upload:upload_form' %}">upload</a></li>
                <li {% if active == 'profile' %} class="active" {% endif %}><a href="{% url 'user_profile:overview' %}">profile</a></li>
                <li {% if active == 'about' %} class="active" {% endif %}><a href="{% url 'site_structure:about' %}">about</a></li>
                <li {% if active == 'contact' %} class="active" {% endif %}><a href="{% url 'site_structure:contact' %}">contact</a></li>
                <li {% if active == 'premium' %} class="active" {% endif %}><a href="{% url 'site_structure:premium' %}">zephyr</a></li>
                <li {% if active == 'signup' %} class="active" {% endif %}><a class='special' href="{% url 'signup:signup' %}">sign up</a></li>
                <li {% if active == 'login' %} class="active" {% endif %}><a class='special' href="{% url 'login:login' %}">login</a></li>
            </ul>
        </nav>
    </header>
{% endblock %}

{% block content %}
    <div class='hero'>
        <h1><span class='highlight'>powerful</span> and <span class='highlight'>easy</span><br> replay analysis</h1>
        <h3><i>get feedback on your gameplay <span class='underline'>now</span></i></h3>
        <button>Sign Up</button>
        <img class='video' src="{% static 'site_structure/sc2-rectangle.jpg' %}">
        <h2>For StarCraft II</h2>
    </div>
    <hr>
    <div class='benefits'>
        <img class='item1' src="https://via.placeholder.com/300" class='col1'>
        <section class='item2' class='col2'>
            <h3>Save time</h3>
            <p>Let us do the hard work interpreting replays, so you can spend more time practising</p>
        </section>
        <section class='item3' class='col1'>
            <h3>Learn more</h3>
            <p>We can help you understand your gameplay and what areas you need to improve</p>
        </section>
        <img class='item4' src="https://via.placeholder.com/300" class='col2'>
        <img class='item5' src="https://via.placeholder.com/300" class='col1'>
        <section class='item6' class='col2'>
            <h3>See your progress</h3>
            <p>Check out how far you've progressed your skills and how quickly you've done it</p>
        </section>
    </div>
    <hr>
    <div class='features'>
        <h2>Features</h2>
        <h3 class='item1'>Macro Analysis</h3>
        <h3 class='item2'>Progress Tracking<br><small><small>Coming soon</small></small></h3>
        <h3 class='item3'>Session Feedback<br><small><small>Coming soon</small></small></h3>
        <h3 class='item4'>Unique Metrics<br><small><small>Coming soon</small></small></h3>
        <a class='feature-link' href="">See all ></a>
    </div>
    <hr>
    <div class='signup'>
        <h2>Start uploading replays now</h2>
        <button>Sign up</button>
    </div>
{% endblock %}

{% block js %}
    <script>

        var header_placeholder = document.getElementById("placeholder")

        // When the user scrolls the page, execute myFunction
        window.onscroll = function() {myFunction()};

        // Get the header
        function hideHeader() {
            header_placeholder.style.zIndex = '-1';
        }

        // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
        function myFunction() {
          if (window.pageYOffset > 500) {
            header_placeholder.style.animationName = 'fadein';
            header_placeholder.style.animationDuration = '0.3s';
            header_placeholder.style.opacity = '1';
            header_placeholder.removeEventListener("mouseover", hideHeader);
            header_placeholder.style.zIndex = '1';
          } else if (header_placeholder.style.opacity == '1') {
            header_placeholder.style.animationName = 'fadeout';
            header_placeholder.style.animationDuration = '0.3s';
            header_placeholder.style.opacity = '0';
            header_placeholder.addEventListener("mouseover", hideHeader);
          }
        }
    </script>
{% endblock %}
