{% extends 'site_structure/index.html' %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'site_structure/css/premium.css' %}">
{% endblock %}

{% block content %}
    <h1>Zephyr</h1>
    <p>
        Zephyr is our premium service that provides you with a few more features
        to help you improve your skills. We're currently still developing the
        site so Zephyr isn't up and running yet, but we'll be sure to let you know
        when it is.
    </p>
{% endblock %}
