{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Zephyrus | SC2 Replay Analysis</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="{% static 'site_structure/index.bf7d2a9bcd92754dc9ad26a51607df7a.css' %}" rel="stylesheet">
</head>
<body>
<div id="root" data-replay="{{ replay_data }}">
</div>
<script src="{% static 'site_structure/runtime.a9edc78d5cd6127c9851.js' %}"></script>
<script src="{% static 'site_structure/index.98c8514edf0715142f77.js' %}"></script>
</body>
</html>