.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

.content {
        max-width: 100%;
    }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: hsl(206, 88%, 98%);
  padding: 10px 0;
  margin: 0;
  -webkit-box-shadow: 0 4px 2px -2px hsl(198, 68%, 62%);
          box-shadow: 0 4px 2px -2px hsl(198, 68%, 62%);
  height: 80px;

}

.sticky .sub-heading {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-bottom: 0;
    padding-top: 20px;
}

#placeholder {
    -ms-grid-columns: 5% -webkit-min-content -webkit-min-content 1fr 5%;
    -ms-grid-columns: 5% min-content min-content 1fr 5%;
    grid-template-columns: 5% -webkit-min-content -webkit-min-content 1fr 5%;
    grid-template-columns: 5% min-content min-content 1fr 5%;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    opacity: 0;
    padding-top: 5px;
    z-index: -1;
}

#placeholder > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

#placeholder > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

#placeholder > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

#placeholder > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
}

#placeholder > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

#placeholder .title {
    -ms-grid-column: 2;
        grid-column-start: 2;
}

#placeholder .menu {
    -ms-grid-column: 4;
        grid-column-start: 4;
}

@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

.video {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
    max-height: 700px;
    justify-self: flex-end;
    -ms-flex-item-align: start;
        align-self: flex-start;

    grid-area: image;
}

.content, .solution {
    # color: black;
    #margin-top: 60px;
}

.hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 500px;
    grid-template-columns: 1fr 500px;
    -ms-grid-rows: 350px 0 1fr;
    grid-template-rows: 350px 1fr;
            grid-template-areas: "title image"
                         "banner image";
    grid-gap: 0 20px;
    margin-top: 20px;
    margin-bottom: 160px;
}

.hero > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.hero > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.hero > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.hero > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.hero h1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    justify-self: flex-start;
    font-size: 64px;

    grid-area: title;
    margin: 0;
    margin-top: 280px;

   text-align: left;
   font-weight: lighter;
}

.hero h2 {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    margin: 0;

    font-weight: lighter;
}

.underline {
    #-webkit-box-shadow: inset 0 -4px 0 hsl(206, 88%, 98%), inset 0 -5px 0 hsl(240, 100%, 6%);
            #box-shadow: inset 0 -4px 0 hsl(206, 88%, 98%), inset 0 -5px 0 hsl(240, 100%, 6%);
    text-decoration: underline;
}

.banner {
    display: inline-block;
    background-color: hsl(198, 92%, 90%);
    text-align: center;
    border-radius: 10px;
    #box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.2);
}

.hero .banner {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: flex-start;
    justify-self: flex-start;
    grid-area: banner;
    width: 80%;
    margin-top: 90px;
}

.banner span {
    font-size: 28px;
    margin-right: 20px;
    letter-spacing: 0.5px;
}

button {
    height: 60px;
    width: 200px;
    margin: 20px 0;
    margin-right: 10px;
    padding: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;

    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    border-radius: 25px;
    text-align: center;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;

    border: 2px solid transparent;
    color: white;
    background-color: hsl(198, 68%, 47%);
}

button:hover {
    -webkit-transform: scale(1.08);
        -ms-transform: scale(1.08);
            transform: scale(1.08);
}

.highlight {
    background-color: hsl(198, 68%, 47%);
    color: white;
    font-weight: 500;
    padding: 0 6px 0px;
    border-radius: 15px;
    box-shadow: 0 4px 4px hsla(0, 0%, 0%, 0.3);
}

/*

Arrow Bounce in CSS

--------------------------------------------------------------------------------------------

*/
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -ms-transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.arrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  background-image: url("https://img.icons8.com/ios/50/000000/expand-arrow.png");
  background-size: contain;
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

#bottom-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: hsl(206, 88%, 98%);
}

/*

--------------------------------------------------------------------------------------------

*/

.solution {
    padding: 20px 0;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 140px;
    background-color: hsla(198, 92%, 90%, 0.4);
    border-radius: 10px;
    box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
}

.feature-list {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -ms-grid-columns: 1fr 60px 470px 60px 380px 60px 350px 60px 1fr;
    grid-template-columns: 470px 380px 350px;
    grid-column-gap: 60px;
            grid-template-areas: "f1 f2 f3";
    text-align: center;
    margin: 80px auto;
    margin-bottom: 0;
}

.thick-highlight {
    -webkit-box-shadow: inset 0 -30px 0 hsla(198, 71%, 73%, 0.8);
            box-shadow: inset 0 -30px 0 hsla(198, 71%, 73%, 0.8);
    font-size: 58px;
    font-weight: 500;
    padding: 0 5px;
    margin: 0;
    display: inline-block;
}

.description {
    font-size: 22px;
    margin: 0;
    margin-top: 60px;
    font-family: 'Roboto', sans-serif;
}

.solution .feature {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 50px 12px 1fr;
    -ms-grid-columns: 1fr 15px 90px;
        grid-template: 50px 1fr / 1fr 90px;
    grid-gap: 12px 15px;
    float: left;
}

.solution .f1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    max-width: 480px;
    grid-area: f1;
}

.solution .f2 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    max-width: 380px;
    grid-area: f2;
}

.solution .f3 {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    max-width: 350px;
    grid-area: f3;
}

.feature-name {
    font-weight: 700;
    -moz-osx-font-smoothing: grayscale;   /* Firefox */
    -webkit-font-smoothing: antialiased; /* WebKit  */
    vertical-align: top;
    font-size: 32px;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    justify-self: flex-start;
}

.feature-content {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: hsl(205, 12%, 45%);
}

.solution .feature-content {
    -ms-flex-item-align: start;
        align-self: flex-start;
    justify-self: flex-start;
}

.solution img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 10px;
}

.progress {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 60px 700px;
        -ms-grid-columns: 1fr 60px 700px;
            grid-template: 100px 1fr 1fr / 1fr 700px;
            grid-template-areas: "heading graph"
                         "f1 graph"
                         "f2 graph";
    margin-bottom: 60px;
    grid-gap: 40px 60px;
    padding: 20px 10px;
    background-color: hsla(198, 92%, 90%, 0.4);
    border-radius: 10px;
    box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
}

.progress h2 {
    margin-right: 20px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    grid-area: heading;
}

.progress .f1 {
    width: 70%;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    grid-area: f1;
    justify-self: flex-start;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 70px;
}

.progress .f2 {
    width: 70%;
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    grid-area: f2;
    justify-self: flex-start;
    margin-left: 70px;
}

.progress img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    -ms-grid-column: 3;
    justify-self: flex-end;
    grid-area: graph;
    margin-top: 40px;
}

.end {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1400px) {
    .content {
        padding: 0 20px;
    }

    .hero {
        -ms-grid-columns: -webkit-max-content 0 1fr;
        -ms-grid-columns: max-content 0 1fr;
        grid-template-columns: -webkit-max-content 1fr;
        grid-template-columns: max-content 1fr;
        grid-gap: 0 0;
        margin-bottom: 180px;
    }

    .hero h1 {
        font-size: 4.5vw;
        margin-top: 10vh;
        margin-left: 20px;
    }

    .hero .banner {
        margin-top: -3vw;
        margin-left: 20px;
    }

    .video {
        max-height: 38vw;
        -ms-grid-column-align: center;
            justify-self: center;
        -ms-flex-item-align: end;
            align-self: flex-end;
        margin-left: -60px;
    }

    .feature-list {
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
        -ms-grid-columns: -webkit-max-content 6vw -webkit-max-content;
        -ms-grid-columns: max-content 6vw max-content;
        grid-template-columns: -webkit-max-content -webkit-max-content;
        grid-template-columns: max-content max-content;
        -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
                grid-template-areas: "f1 f1"
                             "f2 f3";
        grid-column-gap: 6vw;
        text-align: center;
        margin-top: 5vh;
    }

    .feature-list .f2 {
        justify-self: flex-end;
    }

    .feature-list .f3 {
        justify-self: flex-start;
    }

    .progress {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 1fr 2vh -webkit-min-content 2vh 1fr;
        grid-template-rows: 1fr -webkit-min-content 1fr;
        -ms-grid-rows: 1fr 2vh min-content 2vh 1fr;
        grid-template-rows: 1fr min-content 1fr;
                grid-template-areas: "heading heading"
                                 "graph graph"
                                 "f1 f2";
        margin-bottom: 3vw;
        grid-gap: 2vh 0;
    }

    .progress img {
        max-width: 70vw;
        width: 70vw;
        -ms-grid-column-align: center;
            justify-self: center;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }

    .solution .f1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .progress > .f1 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .solution .f2 {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .progress > .f2 {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }

    .solution .f3 {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }

    .progress h2 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .progress .f1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .progress > .f1 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .progress .f2 {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .progress > .f2 {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }

    .progres img {
        -ms-grid-row: 7;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
    }

    .progress .f1, .progress .f2 {
        width: 62%;
        margin: 0 auto;
    }

    .progress .f1 {
        padding-left: 15vw;
    }
}

@media only screen and (max-width: 950px) {
    .arrow, .bounce, #bottom-banner {
        visibility: hidden;
    }

    .feature-list {
            width: 80%;
            -ms-grid-columns: 1fr;
            grid-template-columns: 1fr;
            -ms-grid-rows: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
                    grid-template-areas: "f1"
                                 "f2"
                                 "f3";
            grid-column-gap: 0;
            text-align: center;
            margin-top: 5vh;
    }

    .feature-list .f1 {
        justify-self: flex-start;
    }

    .feature-list .f2 {
        justify-self: flex-start;
    }

    .feature-list .f3 {
        justify-self: flex-start;
    }

    .solution .f1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .solution .f2 {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .solution .f3 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .progress .f1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .progress .f2 {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
}

@media only screen and (max-width: 768px) {
    .content {
        margin-top: 10vh;
        padding: 0 10px;
    }

    .hero {
        -ms-grid-rows: -webkit-max-content 1fr;
        grid-template-rows: -webkit-max-content 1fr;
        -ms-grid-rows: max-content 1fr;
        grid-template-rows: max-content 1fr;
        -ms-grid-columns: 1fr 0 1fr;
        grid-template-columns: 1fr 1fr;
                grid-template-areas: "title title"
                             "banner image";
        margin-top: 4vh;
        margin-bottom: 12vh;
        grid-column-gap: 0;
    }

    .hero h1 {
        margin-top: 0;
        margin-left: 0;
        font-size: 6.9vw;
        text-align: center;
        -ms-grid-column-align: center;
            justify-self: center;
    }

    .highlight {
        border-radius: 0.3em;
    }

    .banner {
        box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.2);
    }

    .hero .banner {
        margin-top: 5vh;
        margin-left: 0;
        -ms-grid-column-span: 3;
        grid-column-end: 3;
        -ms-grid-column-align: center;
            justify-self: center;
        -ms-flex-item-align: start;
            align-self: flex-start;
        width: 75%;
        padding-top: 0.2vh;
    }

    .banner span {
        font-size: 4.2vw;
        margin: 0;
    }

    button {
        #font-size: 18px;
        font-size: 2.8vh;
        height: 7vh;
        width: 40vw;
        margin: 0.8vh 0 1.2vh;
        margin-right: 0;
        padding: 0;
    }

    .video {
        max-height: 100%;
        justify-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
        margin-top: -20vh;
        margin-right: 6vw;
        z-index: -1;
        #max-width: 70%;
        max-width: 140%;
        opacity: 0.8;
        -webkit-filter: blur(3px);
    }

    .thick-highlight {
        font-size: 8vw;
        -webkit-box-shadow: inset 0 -3.3vw 0 hsla(198, 78%, 82%, 0.8);
                box-shadow: inset 0 -3.3vw 0 hsla(198, 78%, 82%, 0.8);
    }

    .underline {
        -webkit-box-shadow: none;
                box-shadow: none;
        text-decoration: underline;
    }

    .description {
        margin-top: 30px;
        margin-left: 16%;
        font-size: 14px;
        text-align: center;
        width: 65%;
    }

    .solution {
        margin-bottom: 50px;
        box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.2);
    }

    .feature-list {
        margin: 20px auto;
        margin-bottom: 0;
        grid-row-gap: 20px;
        justify-items: center;
    }

    .solution .f1, .solution .f2, .solution .f3 {
        width: 90%;
        grid-row-gap: 0;
        grid-column-gap: 10px;
    }

    .solution .f1 {
        width: 100%;
    }

    .feature-name {
        font-size: 17px;
    }

    .feature-content {
        font-size: 12px;
    }

    .progress {
        -ms-grid-rows: -webkit-min-content 0 1fr 0 -webkit-min-content 0 -webkit-min-content;
        grid-template-rows: -webkit-min-content 1fr -webkit-min-content -webkit-min-content;
        -ms-grid-rows: min-content 0 1fr 0 min-content 0 min-content;
        grid-template-rows: min-content 1fr min-content min-content;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
                grid-template-areas: "heading"
                                 "graph"
                                 "f1"
                                 "f2";
        grid-gap: 0 0;
        box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.2);
    }

    .progress .f1, .progress .f2 {
        text-align: center;
        margin-bottom: 4px;
        padding: 0;
    }

    .progress .feature-name, .progress .feature-content {
        -ms-grid-column-align: center;
            justify-self: center;
        text-align: center;
    }

    .progress img {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .end {
        width: 80%;
        margin-left: 10%;
    }

    footer {
        font-size: 2.5vw;
    }

    .video {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 3;
    }

    .hero h1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    .hero .banner {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .progress > .f1 {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .progress > .f2 {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
    }

    .progress h2 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .progress > .f1 {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .progress > .f2 {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
    }

    .progress img {
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
    }
}