/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'Quicksand', sans-serif;
    #background: url('../sc2-color-quality.jpg');
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

#profile {
  height: 100%; /* 100% Full-height */
  width: 67px;  /* width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  color: white;
  background-color: rgba(0, 0, 0);
}

.title {
    text-align: left;
    font-family: 'Major Mono Display', monospace;
    text-shadow: 0.1em 0.08em 0.5px rgba(255, 255, 255, 0.25);
    font-size: 30pt;
    font-weight: 900;
    padding-left: 10px;
}

#title {
    position: absolute;
    opacity: 0;
    transition: 1s;
    transition-delay: 0.2s;
    font-weight: lighter;
}

.title a, a:visited {
    color: white;
    text-decoration: none;
}

.sub-heading {
    display: inline;
    margin-left: -22px;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter !important;
    font-size: medium;
}

.menu a:visited {
    color: black;
}

.logo {
    width: 100%;
    height: 67px;
    background-color: black;
    box-shadow: 0 4px 2px -2px #87CEEB;
}

.logo img {
    position: absolute;
    right: 0;
}

#side-menu {
    opacity: 0;
    transition: opacity 0.4s;
}

#profile li {
    display: block;
    text-align: center;
    padding: 10px 0;
    transition: 0.5s;
}

#profile a {
    text-decoration: none;
}

#profile li a {
    display: block;
}

#profile li:hover {
    background-color: #87CEEB;
    box-shadow: 0 0 0 2px white inset;
    text-decoration: none;
}

#profile li:hover a {
    color: black;
    font-weight: bolder;
}

#profile .active {
    background-color: #87CEEB;
    box-shadow: 0 0 0 2px transparent inset;
    text-decoration: none;

}

#profile .active a {
    color: black;
    font-weight: bolder;
}

.wrapper {
    padding-top: 64px;
    margin-left: 67px;
    height: 100%;
    transition: 0.5s;
}

.content {
    width: 1700px;
    height: 749px;
    transition: 0.5s;
    margin: 30px auto;
    color: black;
    #background-color: rgba(250, 250, 250);
    box-shadow: 0 0 3px 0.5px black;
    border-radius: 25px;
    #border: 1px solid black;

    display: grid;
    grid-template: 1fr / 1fr 2fr;
}

.summary {
    margin: 10px 0;
    border-right: 1px solid rgba(100, 100, 100);
}

li {
    display: inline;
    text-decoration: none;
}

header * {
    text-decoration: none;
}

body, nav * {
    padding: 0;
    margin: 0;
}

header {
    grid-template-rows: min-content;
    grid-template-columns: 5% 1fr 2fr 5%;
    display: grid;
    background-color: white;
    box-shadow: 0 4px 2px -2px #87CEEB;
    padding: 11.5px 0;
    transition: margin-left 0.5s;
}

header h2 {
    margin-top: 0;
    margin-bottom: 0;
    transition: 0.5s;
    grid-column-start: 2;
    justify-self: center;
    align-self: center;
    font-weight: lighter;
    font-size: xx-large;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 2px -2px #87CEEB;
}

.menu {
    width:100%;
    grid-column-start: 3;
    justify-self: center;
    align-self: center;
    transition: margin-right 0.5s;
}

.menu ul {
    text-align: center;
}

.menu li {
    text-decoration: none;
    color: black;
    margin: 0 60px;
}

.menu li a {
    border: 1px solid transparent;
    text-align: center;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
    font-size: 14.5pt;
    border-radius: 25px;
    padding: 9px 50px 12px;
}

.menu li a:hover {
    color: white;
    background-color: #87CEEB;
}

.menu .active {
    color: white;
    background-color: #87CEEB;
}

.special {
    border: 2px solid #87CEEB;
    border-radius: 25px;
    padding: 5px 11px 7px;
}

.special:hover {
    background-color: #87CEEB;
}

.underline {
    box-shadow: inset 0 -2px 0 white, inset 0 -3px 0 black;
}

footer {
    margin-top:auto;
}

.footer {
    padding: 20px 0;
    width: 100%;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    border-top: 2px solid rgba(170, 170, 170);
    #position: absolute;
    #bottom: 0;
    background-color: white;
}

.footer * {
    margin: 0;
}

.footer h4 {
    justify-self: center;
}

.footer span {
    justify-self: center;
    font-weight: bolder;
}

.footer span a {
    padding: 0 8px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
