{% extends 'site_structure/index.html' %}

{% load i18n %}

{% block content %}

    <nav id="profile">
        <ul>
            <li class="active"><a class="active" href="">Overview</a></li>
            <li><a href="">Analysis</a></li>
            <li><a href="">Replays</a></li>
            <li>
                <form method="post" action="{% url 'account_logout' %}">
                  {% csrf_token %}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                  {% endif %}
                  <button type="submit">{% trans 'Sign Out' %}</button>
                </form>
            </li>
        </ul>
    </nav>

    <div class="replay_data">
        <p>{{ player1 }}</p>
        <p>{{ player2 }}</p>
    </div>

{% endblock %}