{% extends 'site_structure/index.html' %}

{% load i18n %}

{% load static %}

{% block profile_style %}

	<link href="{% static 'user_profile/assets/profile-app/build/overview.7e32aac65e8494a6a90a1d7f0f683baa.css' %}" rel="stylesheet"/>
	<link href="{% static 'user_profile/css/profile.css' %}" rel="stylesheet"/>

{% endblock %}

{% block profile-app %}

	<nav id="profile">
        <ul>
           	<li><a {% if profile_active == 'overview' %} class="active" {% endif %} href="{% url 'user_profile:overview' %}">Overview</a></li>
              <li><a {% if profile_active == 'analysis' %} class="active" {% endif %} href="{% url 'user_profile:analysis' %}">Analysis</a></li>
              <li><a {% if profile_active == 'replays' %} class="active" {% endif %} href="{% url 'user_profile:replays' %}">Replays</a></li>
           	<li>
	            <form method="post" action="{% url 'account_logout' %}">
		            {% csrf_token %}
		            {% if redirect_field_value %}
			            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
		            {% endif %}
		            <button type="submit">{% trans 'Sign Out' %}</button>
	           </form>
          	</li>
     	</ul>
   	</nav>

	<div id='root'>

	</div>

	<script src="{% static 'user_profile/assets/profile-app/build/runtime.js' %}" type="text/javascript"></script>
	{% if profile_active == 'overview' %}
		<script src="{% static 'user_profile/assets/profile-app/build/overview.js' %}" type="text/javascript"></script>
	{% elif profile_active == 'analysis' %}
		<script src="{% static 'user_profile/assets/profile-app/build/analysis.js' %}" type="text/javascript"></script>
	{% endif %}
	

{% endblock %}
