/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'Quicksand', sans-serif;
    # background-color: hsl(206, 88%, 98%);
    # color: hsl(240, 100%, 4%);
    background-color: hsl(240, 80%, 7.5%);
    color: hsl(0, 0%, 85%);
}

.content {
    display: inline-block;
}

li {
    display: inline;
    text-decoration: none;
}

header * {
    text-decoration: none;
}

body, nav * {
    padding: 0;
    margin: 0;
}

header {
    -moz-osx-font-smoothing: grayscale;   /* Firefox */
    -webkit-font-smoothing: antialiased; /* WebKit  */

    -ms-grid-columns: min-content;
    -ms-grid-rows: min-content min-content 1fr;

    grid-template-rows: -webkit-min-content;

    grid-template-rows: min-content;
    -ms-grid-columns: -webkit-min-content -webkit-min-content 1fr;
    -ms-grid-columns: min-content min-content 1fr;
    grid-template-columns: -webkit-min-content -webkit-min-content 1fr;
    grid-template-columns: min-content min-content 1fr;
    display: -ms-grid;
    display: grid;
    padding-top: 30px;
}

header > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

header > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

header > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

header li {
    display: inline-block;
    text-decoration: none;
}

ul {
    text-align: right;
}

li {
    color: black;
    display: block;
}

.title {
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: left;
    font-family: 'Major Mono Display', monospace;
    font-size: 40px;
    font-weight: 900;
}

a:visited {
    #color: hsl(240, 100%, 6%);
    color: hsl(0, 0%, 85%);
}

.sub-heading {
    margin: 0;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 3px;
    #font-size: normal;

    -ms-flex-item-align: end;

        align-self: flex-end;
    justify-self: flex-start;
    #padding: 0 3px;

    font-weight: bolder !important;
}

.menu {
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.menu li {
    margin-left: 20px;
}

li a {
    border: 2px solid transparent;
    text-align: center;
    -webkit-transition: background-color 0.5s, color 0.5s, border 0.5s;
    -o-transition: background-color 0.5s, color 0.5s, border 0.5s;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
    font-size: 22px;
    font-weight: 500;
    border-radius: 25px;
    padding: 10px 22px 12px;
}

li a:hover {
    color: white;
    background-color: hsl(198, 68%, 47%);
}

.special {
    border: 2px solid hsl(198, 68%, 47%);
}

.special:hover {
    color: white;
    background-color: hsl(198, 68%, 47%);
}

.menu .active {
    color: white;
    background-color: #87CEEB;
}

.footer {
    padding: 20px 0;
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 1fr;
    border-top: 2px solid rgba(170, 170, 170);
}

.footer * {
    margin: 0;
}

.footer h4 {
    -ms-grid-column-align: center;
        justify-self: center;
}

.footer span {
    -ms-grid-column-align: center;
        justify-self: center;
    font-weight: bolder;
}

.footer span a {
    padding: 0 8px;
}

@media only screen and (max-width: 1400px) {
    #header {
        margin-left: 3vw;
        padding-top: 2vw;
    }
}


@media only screen and (max-width: 768px) {
    .title {
        font-size: 6vw;
    }

    .sub-heading {
        font-size: 3vw;
        padding-bottom: 0.2vh;
        padding-left: 0.3vh;
        padding-right: 1vh;
    }

    #header {
        margin-left: 3vw;
        padding-top: 2vw;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (-o-min-device-pixel-ratio: 5/4),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}